// title, etc

.title {
    padding-left: 3%;
    padding-top: 3%; 
}

.divider {
    margin: 1%; 
    width: 90%;
    color: navy; 
    border-color: navy;
    background-color: navy; 
    height: 3;
    size: 20; 
}