*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
}

$primary-color: rgb(255, 255, 255);
$primary2-color: rgb(238, 238, 253); 
$strong-color: rgb(134, 134, 243); 
$secondary-color: rgb(166, 166, 243); 


body {
    background: linear-gradient(300deg, $primary-color, $primary2-color);
    margin: 0; 
    min-height: 100vh;
}

// media query 
@mixin under600 {
    @media (max-width: 600px) {
        @content
    }
}

@mixin height {
    @media (max-height: 600px) {
        @content
    }
}

// main navbar 

.main-navbar {
    color: white; 
    display: flex; 
    flex-direction: row;
    height: 80px;
    //background-color: rgb(102, 228, 102) ;
    background-color: $strong-color ;
    border-bottom: 2px solid black;
    margin-bottom: 10px;

    @include under600 {
        height: 60px;
    }

    @include height {
        height: 60px;
    }
}

.main-menu {
    width: 100%; 
    
    font-size: 1.3rem;
    padding: 10px;

    display: flex; 
    flex-direction: row;
    gap: 5%; 

    align-items: center;

    a{
        color: white; 
    }
}

.main-menu-home {
    
    &:hover {
        transform: scale(0.9);
    }

    svg {
        color: white;
        &:active {
            color: navy; 
        }

        @include under600 {
            transform: scale(0.7)
        }
    }
}

.main-menu-test {
    justify-self: center;
    align-self: center;
    font-size: 1.7rem;
    color: navy;

    &:hover {
        transform: scale(0.96);
        //padding-bottom: 5px;
        border-bottom: 3px solid $primary-color;
    }

    a {
        color: white;
        text-decoration: none;

        @include under600 {
            font-size: 1.2rem;
        }
    }

    a:active {
        color: navy; 
    }
}

.main-menu-card {
    background-color: rgb(179, 179, 235);
    border: 1px solid black; 
    color: #333;
    border-radius: 20px;
    padding: 10px;
    margin: 5px; 
    text-align: center;
    text-justify: center;

    &:hover {
        transform: scale(0.98);
        cursor: pointer; 
    }

    &:active {
        background-color: rgb(163, 163, 241);
    }
}

.main-menu-logout .main-menu-card {
    background-color: rgb(252, 135, 135);
    font-size: 1rem; 
    font-weight: 500;
    width: 100px;
    height: 40px;

    @include under600 {
        width: 80px;
    }
}

.main-menu-logout {
    display: flex; 
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-right: 5%;
    gap: 15px; 

    svg {
        color: white; 
        &:active {
            color: navy; 
        }
    }
}

.main-menu-cog {
    &:hover {
        transform: scale(0.95);
    }
    @include under600 {
        transform: scale(.9);
    }
}

// logout
.logout {
    width: 100px;
    height: 40px;
    background-color: rgb(252, 135, 135);
    border-radius: 10%;
    font-size: 1rem; 
    font-weight: 400;

}

.logout:hover{
    background-color: rgb(207, 111, 111);
}

// footer 

footer {
    position: fixed;
    height: 60px;
    background-color: $strong-color;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include under600 {
        height: 40px;
    }

    @include height {
        height: 40px;
    }

    p {
        padding-left: 30px;
        font-weight: 500;
        font-size: 1.2rem;
    }
}